.container {
  background-color: rgb(142, 109, 83);
  color: #000;
}

.top {
  height: 2vh;
}

.nav {
  display: flex;
  margin: 2vh;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background-color: #333;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  border: solid #000;
  border-width: 3px 3px 6px;
  color: #000;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  margin-left: 1vw;
  padding: 0;
}

.nav ul li {
  display: inline;
  margin-right: 2vh;
}

.nav ul li a {
  color: black;
  text-decoration: none;
}

.connectButton {
  border: 5px solid #000;
  border-radius: 10px;
  border-width: 2px 5px 5px 2px;
  color: #000;
  background-color: rgb(142, 109, 83);
  width: 7vw;
  margin-left: 2vw;
  height: 4vh;
  cursor: pointer;

}

.connectButton:hover {
  background-color: #6e3b0a;
}

.navRedes {
  margin-left: auto;
  padding: 2vh;
}

/*CONTAINER ABOUT*/
.containerAbout {
  height: 125vh;
  color: #000;
}

.containerAboutTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top img {
  width: auto;
  height: auto;
}

.containerAboutTop h1 {
  font-size: 6rem;
  color: rgb(114, 60, 22);
  text-shadow: 2px 2px rgb(0, 0, 0);
  padding: 0;
  margin: 2vh;
}

.containerAboutPreSale {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  line-height: 2;
  margin-top: 5vh;
}

.containerAboutPreSale h2 {
  font-size: 7rem;
  color: white;
  text-shadow: 2px 2px #000;
}

.containerAboutPreSale p {
  font-size: 2rem;
  margin: 0;
  color: white;
  color: black;
  text-shadow: 1px 1px #000;
  font-weight: 500;
}

/*
IMPUT TEXT
*/
.headerpresaleinput {
  margin: 2vh 0 2vh 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  border: 5px solid #000;
  border-radius: 10px;
  border-width: 2px 5px 5px 2px;
  background-color: white;
}

.headerpresaleinput span {
  text-align: center;
  width: 10vw;
  margin-left: 5vh;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 26px;
  color: #000000;
  font-family: 'MiFuentePersonalizada', sans-serif;
}

.headerpresaleinput input {
  text-align: center;
  width: 50vh;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px;
  border-radius: 5px;
  font-size: 26px;
  color: #000000;
  font-family: 'MiFuentePersonalizada', sans-serif;
}

/*
EXECUTE BUTTON
*/
.buttonContainer {
  color: #000;
}

.executeButton {
  height: 5vh;
  width: 10vw;
  background-color: white;
  border: 5px solid #000;
  border-radius: 10px;
  border-width: 2px 5px 5px 2px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  font-family: 'MiFuentePersonalizada', sans-serif;
  margin-bottom: 2vh;
}

.executeButton:hover {
  background-color: #6e3b0a;
}

.division {
  height: 5vh;
  background-color: rgb(90, 51, 0);
  /*margin-top: 5vh;*/
  border-top: 5px solid #000;
}

/*
WTF CONTAINER
*/

.containerWtf {
  display: flex;
  flex-direction: row;

  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(177, 125, 85);
}

.containerWtf1 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 2rem;
}

.containerWtf1 img {
  padding-top: 2vh;
  width: auto;
  height: auto;
  height: 500px;
}

.containerWtf2 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 30vw;
  background-color: white;
  border: solid #000;
  border-radius: 50px;
  border-width: 3px 3px 6px;
  padding: 4vh;
}

.containerWtf2 h3 {
  font-size: 2rem;
  padding-bottom: 2vh;
}

.containerWtf2 p {
  font-size: 1rem;
  padding: 0vh 5vh 1vh 5vh;
}

.containerWtf3 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 2rem;
}

.containerWtf3 img {
  padding-top: 2vh;
  width: auto;
  height: auto;
  height: 500px;
}

.containerHowToBuy {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(177, 125, 85);
  margin: 0;
  padding-bottom: 5vh;
}

.containerHowToBuy h2 {
  padding-top: 5vh;
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px #000;
}

.containerHowToBuyBloques {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(177, 125, 85);
  margin: 0;
}

.containerHowToBuyBloques1 {
  /*
	margin-right: 10vh;
	margin-left: 10vh;*/
  background-color: white;
  border: solid #000;
  border-radius: 50px;
  border-width: 3px 3px 6px;
  width: 100vw;
  margin: 40px;
  text-align: left;
  line-height: 1.5;
  padding: 2vh;
  padding-bottom: 10vh;
}

.containerHowToBuyBloques1 h4 {
  text-align: center;
  font-size: 2rem;
}

.containerHowToBuyBloques1 p {
  font-size: 1rem;
  padding: 0vh 5vh 1vh 5vh;
  text-transform: uppercase;
}

.containerHowToBuyBloques2 {
  background-color: white;
  border: solid #000;
  border-radius: 50px;
  border-width: 3px 3px 6px;
  width: 100vw;
  margin: 40px;
  text-align: left;
  line-height: 1.5;
  padding: 2vh;
  padding-bottom: 10vh;
}

.containerHowToBuyBloques2 h4 {
  text-align: center;
  font-size: 2rem;
}

.containerHowToBuyBloques2 p {
  font-size: 1rem;
  padding: 0vh 5vh 1vh 5vh;
  text-transform: uppercase;
}

.containerHowToBuyBloques3 {
  background-color: white;
  border: solid #000;
  border-radius: 50px;
  border-width: 3px 3px 6px;
  width: 100vw;
  margin: 40px;
  text-align: left;
  line-height: 1.5;
  padding: 2vh;
  padding-bottom: 10vh;
}

.containerHowToBuyBloques3 h4 {
  text-align: center;
  font-size: 2rem;
}

.containerHowToBuyBloques3 p {
  font-size: 1rem;
  padding: 0vh 5vh 1vh 5vh;
  text-transform: uppercase;
}

.containerHowToBuyBloques4 {
  background-color: white;
  border: solid #000;
  border-radius: 50px;
  border-width: 3px 3px 6px;
  width: 100vw;
  margin: 40px;
  text-align: left;
  line-height: 1.5;
  padding: 2vh;
  padding-bottom: 10vh;
}

.containerHowToBuyBloques4 h4 {
  text-align: center;
  font-size: 2rem;
}

.containerHowToBuyBloques4 p {
  font-size: 1rem;
  padding: 0vh 5vh 1vh 5vh;
  text-transform: uppercase;
}

.containerTokenomics {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(177, 125, 85);
}

.containerTokenomics h2 {
  padding-top: 5vh;
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px #000;
}

.containerTokenomics img {
  padding-top: 10vh;
  width: auto;
  height: auto;
  height: 500px;
}

.containerTokenomicsCarteles {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 400px));
  gap: 40px;
  background-color: rgb(90, 51, 0);
  padding-bottom: 56px;
  padding-top: 56px;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: rgb(143 198 44);
  border-width: 4px;
  border-radius: 60px;
  border: 5px solid #000;
}

.containerTokenomicsCarteles p {
  margin: 0;
}

.containerTokenomicsCarteles1,
.containerTokenomicsCarteles2,
.containerTokenomicsCarteles3,
.containerTokenomicsCarteles4 {
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 4px rgb(177, 125, 85);
  padding-bottom: 20px;
  padding-top: 20px;
  border-color: rgb(177, 125, 85);
  border-width: 4px;
  border-radius: 32px;
  border: 5px solid rgb(177, 125, 85);
  font-size: 1.5rem;
}

@media screen and (max-width:1400px) {
  .containerHowToBuyBloques {
    flex-direction: column;
  }

  .containerWtf2 p {
    padding: inherit;
  }

  .containerHowToBuyBloques1 {
    width: inherit;
  }

  .containerHowToBuyBloques2 {
    width: inherit;
  }

  .containerHowToBuyBloques3 {
    width: inherit;
  }

  .containerHowToBuyBloques4 {
    width: inherit;
  }

  .executeButton {
    width: inherit;
  }
}

@media screen and (max-width:1024px) {
  .nav ul {
    display: none;
  }

  .nav button {
    width: 20vw;
  }

  .containerHowToBuyBloques {
    flex-direction: column;
  }

  .containerWtf2 p {
    padding: inherit;
  }

  .containerHowToBuyBloques1 {
    width: inherit;
  }

  .containerHowToBuyBloques2 {
    width: inherit;
  }

  .containerHowToBuyBloques3 {
    width: inherit;
  }

  .containerHowToBuyBloques4 {
    width: inherit;
  }

  .executeButton {
    width: inherit;
  }

}

@media screen and (max-width:1170px) {
  .containerWtf {
    flex-direction: column;
  }

}

@media screen and (max-width:820px) {
  .containerTokenomicsCarteles {
    grid-template-columns: inherit;
  }

  .containerWtf {
    flex-direction: column;
  }

}

@media screen and (max-width:430px) {
  .containerWtf2 {
    width: inherit;
  }

  .containerHowToBuy h2 {
    font-size: 3rem;
  }

  .containerTokenomics h2 {
    font-size: 3rem;
  }

  .containerAboutPreSale p {
    padding: 1vh;
  }

  .containerAbout {
    height: 150vh;
  }

  .executeButton {
    width: inherit;
  }

  .containerAboutPreSale h2 {
    font-size: 3rem;
  }

  .containerAboutPreSale p {
    font-size: 1.5rem;
  }

}